<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Códigos QR</title>
    {{{_sections.styles}}}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body>
    <header>
        <h1>Gestor de Códigos QR</h1>
    </header>

    <main>
        {{{body}}}
    </main>

    

</body>

</html>