

{{#section "styles"}}
    <link rel="stylesheet" href="/css/login.css">
{{/section}}

<h1>Acceso a Gestor de QR</h1>

<div class="container-login">
{{#if user}}
    <p>Ya has iniciado sesi칩n como {{user.username}}</p>
    <a href="/auth/logout" class="btn-logout">Cerrar sesi칩n</a>
{{else}}
    <h2>Iniciar Sesi칩n</h2>

    {{#if error}}
    <p style="color: red;">{{error}}</p>
    {{/if}}

    <form action="/auth/login" method="POST">
        <input type="text" name="username" placeholder="Usuario" required>
        <input type="password" name="password" placeholder="Contrase침a" required>
        <button type="submit">Ingresar</button>
    </form>
{{/if}}

</div>